DATABASE_URL='postgresql://postgres.youwluvvgfieoesdmcmv:sayyidnaabihm190806@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&prepared_statements=false&connection_limit=5&pool_timeout=10'
DIRECT_URL='postgresql://postgres.youwluvvgfieoesdmcmv:sayyidnaabihm190806@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres'

NEXT_PUBLIC_SUPABASE_URL='https://youwluvvgfieoesdmcmv.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvdXdsdXZ2Z2ZpZW9lc2RtY212Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNzE2NzEsImV4cCI6MjA4NzY0NzY3MX0.UXZQe5mu_1xzIfNoVsYrgYEcWHw7QHY-XoZHiVUWr8I'
SUPABASE_SERVICE_ROLE_KEY='[YOURE-ROLE-KEY]'

# App
NODE_ENV="development"
SESSION_SECRET="tn4GIakoRC1scxuNVMpxSO1oIEaEentFWh25wPYQQkY="
REGISTRATION_TOKEN="8d6a0e55a7b9a09432bbe65ee0a96ec8"

# Groq AI
GROQ_API_KEY="your-groq-api-key-here"